<%- include('../partials/header'); -%>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">ShopHop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
		  <a class="nav-item nav-link" href="#">About Us</a>
		  <a class="nav-item nav-link" href="#">Contact</a>
		  <a class="nav-item nav-link" href="#">FAQ</a>
		</div>
		<form class="form-inline my-2 my-lg-0 px-2" action="/buyer/cart" method="GET">
			<button class="btn btn-outline-info my-2 my-sm-0">My Cart</button>
		</form>
		<form class="form-inline my-2 my-lg-0 px-2" action="/buyer/logout" method="POST">
			<button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
		</form>
	  </div>
	</nav>
	<div class="jumbotron">
	<h6>My Orders:</h6>
	  <ul class="list-group">
	  <% orders.forEach(function(order){ %>
	  	<li class="list-group-item">
	  		<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="/images/<%= order.item_image %>" alt="Card image cap" style="height: 8rem; width: 8rem">
			  <div class="card-body">
			    <p class="card-text">Item: <%= order.item_name %></p>
			    <p class="card-text">Price: ₹ <%= order.order_price %></p>
			    <p class="card-text">Ordered On: ₹ <%= order.order_date %></p>
			    <p class="card-text">Status <%= order.status %></p>
			    <% if (order.status != "delivered"){ %>
			    	<p class="card-text">Expected delivery by: ₹ <%= order.delivery_date %></p>
			    <% } %>
			  </div>
			</div>
	  	<form action="/buyer/cancel/<%= order._id %>" method="POST">
			<button type="submit" class="btn btn-warning">Cancel Order</button>
		</form>
		</li>
	  <% }); %>
	  </ul>
	  
	  <button type="button" class="btn btn-warning" onclick="goBack()">Go Back</button>
		<script>
		function goBack() {
		  window.history.back();
		}
		</script> 
	</div>
	
</body>
</html>
